<!DOCTYPE html> {% load static %}
<!--
@File   : base.html
@Author :  ({__email})
@Link   : 
@Date   : 3/3/2018, 9:28:11 PM
-->
<html>

<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'medium/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="navbar-left">
                <button class="btn btn-default">Upgrade</button>
            </ul>
            <ul class="navbar-title">
                <h1 class="medium-title">Medium</h1>
            </ul>


            <ul class="navbar-right">
                {% if user.is_authenticated %}
                <span>
                    Welcome {{user.username}}
                    <a href="{% url 'medium:logout' %}" class="btn btn-default">logout</a>
                </span>

                {% else %}
                <a href="{% url 'medium:login' %}" class="btn btn-default">login</a>
                <a href="{% url 'medium:register' %}" class="btn btn-default">get started</a>
                {% endif %}

            </ul>
        </div>

    </nav>
    <div class="container">
        {% block content %} {% endblock %}

    </div>
</body>

</html>