{% extends 'medium/base.html' %} {% block content %}
<div class="center-stage">
    {% for post in posts_list %}
    <div class="post">
        {% if post.featured_image %}
        <a href="{% url 'medium:post' pk=post.pk %}">
            <img class="featured-on-index" src="{{post.featured_image.url}}" alt="" />
        </a>{% endif %}
        <h1>
            <a href="{% url 'medium:post' pk=post.pk %}">{{post.title|striptags}}</a>
        </h1>
        <div class="date">
            <p>by {{post.author}} on {{post.created_date|date|striptags}}</p>
        </div>
        <div class="snippet">
            <p>{{post.content|striptags|safe|truncatechars:300}}</p>
        </div>
        <!--
        <a href="{% url 'medium:post' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
        -->
    </div>
    {% endfor %}
</div>
{% endblock %}